#intro
  .title
    Монтаж теплых полов в Москве и МО
    %br
    от 350 рублей за м2

  .button#show-form
    Рассчитать стоимость


.modal-overlay
.modal-form
  .text
    Оставьте ваши контактные данные и через 15 минут с вами свяжется наш менеджер.
  .form
    %input{type: :text, name: :username, placeholder: 'Введите ваше имя *'}
    %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон *'}
    %input{type: :text, name: :square, placeholder: 'Площадь вашего объекта'}
    .button#send-form
      Рассчитать стоимость


.modal-thank-you
  .modal-header
    Спасибо!
  .body
    Мы позвоним вам в течение 15 минут
    .button#hide-thank-you
      Я буду ждать